project:
  type: website
  output-dir: docs

website:
  title: "Grace Tompkins"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - courses.qmd
      - awards.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



